// Place all the styles related to the api/chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dismiss-button {
  font-size: 14px !important;
  background-color: rgb(115,194,252);
  color: white;
  max-height: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.chore-columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.group-title div div {
  display: flex;
  align-items: center;
}
.completed-yet {
  margin-right: 13px;
}
.due-date {
  margin-right: 20px;
}
.complete-button {
  font-size: 14px !important;
  background-color: rgb(115,194,252);
  color: white;
  border-radius: 5px;
  max-height: 20px;
  padding: 5px 10px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.dismiss-complete-button-inactive {
  min-width: 70px;
  min-height: 15px;
  display: flex;
  align-items: center;
}
.chore-div {
  display: flex;
  align-items: center;
  height: 40px;
  div {
    padding-top: 7px;
  }
}
.chore-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  height: 25px;
  div {
    display: flex;
    align-items: center;
  }
}

.group-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  div {
    padding-left: 10px
  }
  .status {
    padding: 0 35px;
  }
}
// .group-columns {
//   margin-bottom: 10px;
//   div {
//   display: flex;
//   justify-content: space-between;
//     .assigned-to {
//       padding-left: 40px;
//     }
//     .status {
//       padding-right: 40px
//     }
//   }
// }
//
// .chore-item {
//   margin-bottom: 10px !important;
//   div div div {
//     display: flex;
//     justify-content: space-between;
//     .assigned-to {
//       padding-left: 40px;
//       display: flex;
//       align-items: center;
//     }
//     .chore-task {
//       width: 75px;
//       display: flex;
//       align-items: center;
//     }
//     .time-ago {
//       display: flex;
//       align-items: center;
//     }
//   }
// }
// .group-columns {
//   height: 30px;
//   padding: 16px;
// }
// .chore-item {
//   height: 65px;
// }
// .assigned-to {
//   width: 100px;
// }
// .chore-task {
//   width: 120px;
//   padding: 0 30px;
// }
//
// .time-ago {
//   width: 100px;
//   padding-right: 30px;
// }
