// Place all the styles related to the api/chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dismiss-button {
  font-size: 14px !important;
  background-color: rgb(115,194,252);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  a {
    text-align: center;
  }
}
.chore-columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.group-title div div {
  display: flex;
  align-items: center;
}
.completed-yet {
  margin-right: 13px;
}
.due-date {
  margin-right: 20px;
}
.complete-button {
  font-size: 14px !important;
  background-color: rgb(115,194,252);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 3px;
  a {
    text-align: center;
  }
}
.dismiss-complete-button-inactive {
  min-width: 60px;
  padding: 5px 10px;
  min-height: 15px;
}
.chore-div {
  display: flex;
  div {
    padding-top: 7px;
  }
}
.chore-item {
  height: 65px;
}
.assigned-to {
  width: 150px;
}
.chore-task {
  width: 150px;
}

.time-ago {
  width: 150px;
  margin-right: 28px;
}
