.drop-down {
  float: right;
   display: flex;
   justify-content: space-between;
}

.drop-down-text {
  height: 20px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
}

.add-chore {
  float: right;
  margin-top: -30px;
}
