.drop-down {
  float: right;
   display: flex;
   justify-content: space-between;
}

.drop-down-text {
  height: 20px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-title {
  display: flex;
  padding: 10px;
  background-color: rgba(120, 118, 118, 0.2);
}

.group-title-detail {
  font-size: 30px;
  font-weight: bold;
}

.add-chore {
  float: right;
  position: absolute;
  margin-top: -46px;
  margin-left: 485px;
  padding: 0 10px;
  div {
    background-color: rgb(115,194,252) !important;
    button {
      color: white !important;
    }
  }
}
