// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-header {
  font-size: 50px;
  font-family: sans-serif;
  display: block;
  border-bottom: solid 1px black;
  position: relative;
}

.login-signup {
 float: right;
 position: relative;
 margin-right: 50px;
 margin-top: -61px;
 white-space:nowrap
}

.login-form-container {
 text-align: center;
}
.login-form-box {
  padding: 25px;
}
.login-box {
 display: flex;
 justify-content: center;
 padding: 25px;
}

.session-form-instead-button {
 font-size: 12px;
}
