// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, main, .main{
  height: 100%;
  width: 100%;
}

#root, .center-container  {
  height: 100%;
}
.logo-button {
  margin-top: 5px !important;
  color: white !important;
}
.logo {
  width: 130px;
}

.logo:hover {
  background-color: rgba(153,153,153,.2);
}
.login-signup {
  margin-top: 15px !important;
  color: rgb(115,194,252) !important;
  font-family: 'Ubuntu Condensed', sans-serif !important;
}

#logout-button {
  margin-top: 15px !important;
  color: rgb(115,194,252) !important;
  font-family: 'Ubuntu Condensed', sans-serif !important;
}

#session-submit-button {
  color: white !important;
  font-family: 'Ubuntu Condensed', sans-serif !important;
}
#demo-login-button {
  color: white !important;
  padding: 0 15px !important;
  font-family: 'Ubuntu Condensed', sans-serif !important  ;
}

.center-container {
  width: 960px;
  margin: auto;
}
.login-form-container {
 text-align: center;
}
.login-form-box {
  padding: 25px;
}
.login-box {
 display: flex;
 justify-content: center;
 padding: 25px;
}

.session-form-instead-button {
 font-size: 12px;
}

.main-header {
  align-content: center;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.main-full-header {
  width: 100%;
  background-color: rgba(253,188,78, 0.25);
}

.icon-spacing {
  margin: auto;
  display: flex;
  width: 960px;
  justify-content: space-between;
}
.login-buttons {
  display: flex;
  justify-content: space-around;
}
