
.sidebar {
  float: left;
  margin: 0;
  display: block;
  max-width: 180px;
  height: 100%;
  background-color: white;
}

.sidebar a {
  margin: auto;
  float: left;
}

.sidebar a .sidebar-button {
  height: 100px;
  padding-right: 50px !important;
  font-size: 14px !important;
  height: 30px !important;
}

.groups {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  opacity: 0.5;
}

.group-create-link {
  text-decoration: none;
  color: grey;
  padding: 0 15px;
  float: right !important;
}

.groups div {
  width: 85px;
}

.groups:hover {
  opacity: 1;
}
.sidebar-ul {
  list-style: none;
  padding: 0;
}

#my-chores {
  padding-right: 72px !important;
}
.center-container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.group-show {
  margin: 0;
  display: flex;
}

.group-show-center {
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  width: 600px;
  height: 100%;
}
.group-show-center h2 {
  margin: 0;
}

.right-sidebar {
  width: 100px;
}

ul {
  list-style: none;
  margin: 0;
}
